body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container.inner {
	margin-top:5%;
}

.container.inner input,
.container.inner select {
	width: 8rem;
	height: 4rem;
	font-size: 2rem;
	text-align: center;
}

.spacer{
	margin-left: 1rem;
	margin-right: 1rem;
}

.top_line{
	margin-bottom: 2rem;
}

body{
	margin-bottom:20px;
	font-family: 'Century Gothic';
}

footer{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	text-align: center;
}

body {
	background-color: #3A4652;
}
.navbar-inverse,
footer {
	background-color: #2C3641;
	color: #9d9d9d;
	border: 0;
}

footer p{
	margin: 10px 0px;
}

.input.fromvalue,
input.tovalue {
	background-color: #2C3541;
	border: 0;
	border-radius: 0.5rem;
	color: #57D4DE;
}

select.input.fromtype,
select.input, totype {
	background-color: #343C49;
	border: 0;
	color: #AEB3B8;
	border-radius: 0.5rem;
	width: 8rem;
	text-align-last: center;
	text-align: center;
	-ms-text-align-last: center;
	-moz-text-align-last: center;
}

#chart_container{
	margin: 3rem auto;
}
